/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/02/2016, 11:39:43
    Author     : Usuario 09
*/
.login-form{
    
    width: 300px;    
    margin: auto;
    padding-top:  10em ;
}
.login-form-input{    
    margin-bottom: 1em;
}
.titulo-form{
    margin-top: 3em;
    text-align: center;
}
.clave-form{
    display: block;
    margin: 1em auto;
    text-align: right;
}
